li{
    list-style: none;
}

li:hover {
    background-color: white;
    color: #222;
  }
  li.correct {
    background-color: rgb(53, 212, 53);
  }
  li.selected:not(correct) {
    background-color: rgb(206, 58, 58);
  }