@import './../../styles/colors.scss';
@import './../../styles/mixins.scss';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @include flexbox(row, center, center, null);
  background-color: $main-bg-color;
  font-family: $font;
  padding: 80px;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  @include flexbox(column, center, center, null);
  background-color: $container-bg-color;
  border-radius: 5px;
  color:white;
  width: 700px;
  padding: 20px;

  &__score {
    font-size: 30px;

    &-btn{
      font-size: 22px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid black;
      margin-top: 9px;
      width: 120px;

      &:hover{
        cursor: pointer;
      }
    }
  }

  &__board{
    @include flexbox(column, space-evenly, null, center);
    height: 600px;
    padding: 10px;
    width: 600px;

      &-top{
        @include flexbox(inherit, space-between, null, null);
        height: 100px;

        &-title{
          font-size: 20px;
        }

        &-question{
          font-size: 25px;
          margin-top: 10px;
        }
      }

      &-answers{
        @include flexbox(column, null, center, null);
        height: 155x;
        padding: 10px;
      }
  }
}

#answer{
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  padding: 5px;
  min-width: 300px;
  margin-top: 10px;

  &.correct {
    background-color: $correct-answer-color;
  }
  
  &.selected:not(correct) {
    background-color: $incorrect-answer-color;
  }

  &:hover{
    cursor: pointer;
  }
}

